@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: 'Lilex', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0400ff;
}

.background {
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 50%;
    min-width: 50%;
    filter: blur(5px);
    -webkit-filter: blur(10px);
    transform: scale(1.1);
}

.apps {
    height: auto;
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.container {
    display: flex;
    background-color: #7078a7;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.container:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

.images {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    flex: 0 0 auto;
}

@media (max-width: 820px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .apps {
        width: 90%;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 50px;
    }

    footer {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        height: 40px;
        flex: 0 0 auto;
    }
}