* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e1720;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.6s ease-out;
}

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    color: #0e1720;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    outline: none;
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: #0e1720;
    text-transform: capitalize;
}

.search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #0e1720;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transform: 0.4s ease;
}

.search-box button:hover {
    color: #fff;
    background: #0e1720
}

.search-box i {
    position: absolute;
    color: #0e1720;
    font-size: 28px;
}

.weather-box {
    text-align: center;
}

.weather-box img {
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature {
    position: relative;
    color: #0e1720;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description {
    color: #0e1720;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}


.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    color: #0e1720;
    font-size: 26px;
    margin-top: 10px;
    margin-top: 6px;
}

.weather-details span {
    color: #0e1720;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    color: #0e1720;
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 70%;
}

.not-found p {
    color: #0e1720;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box,
.weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

.backBtn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    color: #212121;
    background: #e7e7e7;
    border-radius: 50%;
    font-size: 20px;
    transform: 0.4s ease;
    border: none;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backBtn:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

@media (max-width: 376px) {
    .backBtn {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 10px;
    }
}